.checkAll {
	margin-bottom: 20px;
	padding-left: 45%;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.cycle {
    display: none;
}

.graphsDiv{
	clear: both;
	width: 100%;
    padding-top: 60px;
}

.graph_title {
	width: 100%;
	padding-left: 50px;
	font: oblique 120% sans-serif bold;
	text-align: center;
}

#each_graph {
	width: 50%;
	float:left;
	padding-top: 30px;
	padding-bottom: 20px;
	border: ridge 3px #CCC;
	background-color: white;
}

.each_graph-6 {
	margin-bottom: 40px;
}