{% load static %}
<!DOCTYPE HTML> 
<html>
  <head>
  	<link rel="stylesheet" href="{% static 'ol3/css/ol.css' %}" type="text/css">
    <script src="{% static 'ol3/build/ol.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery/js/jquery-3.0.0.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js/map-sensors-create.js' %}" type="text/javascript"></script>
    {% block script-add %}{% endblock %} 
  </head>
  <body>
    {% block map %}{% endblock %} 
    <div id="sensorData" class="sensorData">
		{% for s in sensors %}
		    <input class="id" id="{{ s.id_s }}" type="text" value="{{ s.id_s}}" hidden></input>
		    <input class="lon" id="{{ s.id_s }}" type="text" value="{{ s.longitude }}" hidden></input>
		    <input class="lat" id="{{ s.id_s }}" type="text" value="{{ s.latitude }}" hidden></input>
		    <input class="type" id="{{ s.id_s }}" type="text" value="{{ s.sensorType }}" hidden></input>
        <input class="name" id="{{ s.id_s }}" type="text" value="{{ s.name }}" hidden></input>
        <input class="desc" id="{{ s.id_s }}" type="text" value="{{ s.description }}" hidden></input>
        <input class="alert" id="{{ s.id_s }}" type="text" value="{{ s.alert }}" hidden></input>
	  	{% endfor %}
    </div>
  </body>
</html>