{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'ol3/css/ol.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/fullscreen-rotate-zoom.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/map.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/mapnotifications.css' %}" type="text/css">
    <script src="{% static 'ol3/build/ol.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery/js/jquery-3.0.0.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js/mapCRsensors.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js/mapCR.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js/notifications.js' %}" type="text/javascript"></script>
    <script src="{% static 'graphs/d3/4.3/d3.min.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <div id="map_main" class="map_main"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
    <div id="sensorData" class="sensorData">
      {% for p in pollutionList %}
        <input class="id" id="{{ p.sensor.id_s }}" type="text" value="{{ p.sensor.id_s }}" hidden></input><br/>
        <input class="lon" id="{{ p.sensor.id_s }}" type="text" value="{{ p.sensor.longitude }}" hidden></input><br/>
        <input class="lat" id="{{ p.sensor.id_s }}" type="text" value="{{ p.sensor.latitude }}" hidden></input><br/>
        <input class="val" id="{{ p.sensor.id_s }}" type="text" value="{{ p.value }}" hidden></input><br/>
        <input class="name" id="{{ p.sensor.id_s }}" type="text" value="{{ p.sensor.name }}" hidden></input><br/>
        <input class="desc" id="{{ p.sensor.id_s }}" type="text" value="{{ p.sensor.description }}" hidden></input><br/>
        <input class="alert" id="{{ p.sensor.id_s }}" type="text" value="{{ p.sensor.alert }}" hidden></input><br/>
      {% endfor %}
      {% for se in sensorsError %}
        <input class="id" id="{{ se.id_s }}" type="text" value="{{ se.id_s }}" hidden></input><br/>
        <input class="lon" id="{{ se.id_s }}" type="text" value="{{ se.longitude }}" hidden></input><br/>
        <input class="lat" id="{{ se.id_s }}" type="text" value="{{ se.latitude }}" hidden></input><br/>
        <input class="val" id="{{ se.id_s}}" type="text" value="-1" hidden></input><br/>
        <input class="name" id="{{ se.id_s }}" type="text" value="{{ se.name }}" hidden></input><br/>
        <input class="desc" id="{{ se.id_s }}" type="text" value="{{ se.description }}" hidden></input><br/>
        <input class="alert" id="{{ se.id_s }}" type="text" value="{{ se.alert }}" hidden></input><br/>
      {% endfor %}
    </div>
    <div id="notify" class="notify">
      <input class="notificationDisabled" type="text" value="{{ notificationsDisabled }}" hidden></input>
      <input class="typePollution" type="number" value="{{ type_pollution }}" hidden></input>
    </div>
  </body>
</html>