{% load static %}

<!DOCTYPE html>
<html>
<head></head>
<body>
	{% for n in notificationList %}
		<div class="each_alerts">
        	<p>Sensor: {{ n.sensor.name }} (Sensor {{ n.sensor.id_s }})<p>
        	<p>Value exceed: <a id="red_letter">{{ n.value }}</a> (limit value: <a id="red_letter">{{ n.sensor.alert }}</a>)</p>
        	<p>{{ n.ndate }}</p>
        </div>
 	{% endfor %} 
</body>
</html>