{% load static %}
<html>
	<head></head>
	<body>

		<div id="piechart"></div>

		<script src="{% static 'graphs/d3/4.4/d3.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'graphs/js/d3pie.min.js' %}" type="text/javascript"></script>
		<script>
		var pie = new d3pie("piechart", {
			"header": {
				"title": {
					"text": "Pollution of the year",
					"fontSize": 24,
					"font": "open sans"
				},
				"subtitle": {
					"text": "Number of days that exceeded certain amount of particles (Air Quality Index of EU)",
					"color": "#999999",
					"fontSize": 12,
					"font": "open sans"
				},
				"titleSubtitlePadding": 9
			},
			"footer": {
				"color": "#999999",
				"fontSize": 10,
				"font": "open sans",
				"location": "bottom-left"
			},
			"size": {
				"canvasWidth": 500,
				"pieOuterRadius": "75%"
			},
			"data": {
				"content": [
					{
						"label": "<25 (very low)",
						"value": 5,
						"color": "#79bc6a"
					},
					{
						"label": "25-50 (low)",
						"value": 45,
						"color": "#bbcf4c"
					},
					{
						"label": "50-75(medium)",
						"value": 18,
						"color": "#eec20b"
					},
					{
						"label": "75-100(high)",
						"value": 29,
						"color": "#FF6347"
					},
					{
						"label": ">100(very high)",
						"value": 63,
						"color": "#8B0000"
					}
				]
			},
			"labels": {
				"outer": {
					"pieDistance": 32
				},
				"inner": {
					"format": "value",
				},
				"mainLabel": {
					"fontSize": 11
				},
				"percentage": {
					"color": "#ffffff",
					"decimalPlaces": 0
				},
				"value": {
					"color": "#fff",
					"fontSize": 11
				},
				"lines": {
					"enabled": true
				},
				"truncation": {
					"enabled": true
				}
			},
			"effects": {
				"pullOutSegmentOnClick": {
					"effect": "linear",
					"speed": 400,
					"size": 8
				}
			},
			"misc": {
				"gradient": {
					"enabled": true,
					"percentage": 100
				}
			}
		});
		</script>

	</body>
</html>