{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static 'app/css/menu.css' %} " rel="stylesheet" type="text/css">
	<link href="{% static 'icomoon/css/fonts.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'jquery/js/jquery-latest.js' %}"></script>
	<script src="{% static 'app/js/menu.js' %}"></script>
	{% block linkscript %}{% endblock %}
</head>
<body>
	<div class="logo">
		<img src="{% static 'app/img/logoSCE.png' %}" alt="">
	</div>
	<div class="selectmenu"> 
		<header>
			<div class="menu_bar">
				<a href="" class="bt-menu"><span class="icon-menu"></span> Menú</a>
			</div>
			<nav>
				<ul>
					<li><a href="{% url 'pollution_menu' %}"><span class="icon-home3"></span> Home</a></li>
					<li class="no2">
						<a id="no2"><span class="icon-stats-bars"></span> NO<sub> 2</sub><span class="arrow icon-chevron-down"></span></a>
						<ul class="children">
							<li><a id="no2week"> The last week</a></li>
							<li><a id="no2month"> Monthly</a></li>
							<li><a id="no2year"> Annual</a></li>
							<li><a id="no2alert"> Notifications alert</a></li>
						</ul>
					</li>
					<li class="so2">
						<a id="so2"><span class="icon-stats-bars"></span> SO<sub> 2</sub><span class="arrow icon-chevron-down"></span></a>
						<ul class="children">
							<li><a id="so2week"> The last week</a></li>
							<li><a id="so2month"> Monthly</a></li>
							<li><a id="so2year"> Annual</a></li>
							<li><a id="so2alert"> Notifications alert</a></li>
						</ul>
					</li>
					<li class="co2">
						<a id="co2"><span class="icon-stats-bars"></span> CO<sub> 2</sub><span class="arrow icon-chevron-down"></span></a>
						<ul class="children">
							<li><a id="co2week"> The last week</a></li>
							<li><a id="co2month"> Monthly</a></li>
							<li><a id="co2year"> Annual</a></li>
							<li><a id="co2alert"> Notifications alert</a></li>
						</ul>
					</li>
					<li class="o3">
						<a id="o3"><span class="icon-stats-bars"></span> 0<sub> 3</sub><span class="arrow icon-chevron-down"></span></a>
						<ul class="children">
							<li><a id="o3week"> The last week</a></li>
							<li><a id="o3month"> Monthly</a></li>
							<li><a id="o3year"> Annual</a></li>
							<li><a id="o3alert"> Notifications alert</a></li>
						</ul>
					</li>
					<li class="pm25">
						<a id="pm25"><span class="icon-stats-bars"></span> PM2.5</sub><span class="arrow icon-chevron-down"></span></a>
						<ul class="children">
							<li><a id="pm25week"> The last week</a></li>
							<li><a id="pm25month"> Monthly</a></li>
							<li><a id="pm25year"> Annual</a></li>
							<li><a id="pm25alert"> Notifications alert</a></li>
						</ul>
					</li>
					<li class="pm10">
						<a id="pm10"><span class="icon-stats-bars"></span> PM10</sub><span class="arrow icon-chevron-down"></span></a>
						<ul class="children">
							<li><a id="pm10week"> The last week</a></li>
							<li><a id="pm10month"> Monthly</a></li>
							<li><a id="pm10year"> Annual</a></li>
							<li><a id="pm10alert"> Notifications alert</a></li>
						</ul>
					</li>
					<li class="sensormanager"><a href="{% url 'management' %}"><span class="icon-stats-bars"></span> Sensor manager</a></li>	
				</ul>	
			</nav>
		</header>
	</div>
	<div class="category"></div>
	<div class="content">
		<div class="text-content">
			Controlar la contaminación y llegar a obtener aire más limpio empieza a ser prioritario en las ciudades. Para ello es importante organizar datos de polución para una gestión de actuación mas precisa y ágil. En este entorno se pretende ofrecer datos de manera más organizada y poder mantener una buena calidad del aire de nuestras ciudades a través de él. Se ofrecen datos tanto actualizados como de la última semana, mes o incluso año. La contaminación es mediada en un rango segun la Unión Europea de 0 a mayor de 100, donde el 0 es la más favorable y el 100 o más, la peor calidad del aire. Según Common Air Quality Index (or CAQI)<br/><br/>

			Este rango se utiliza para cada cantidad de varios componentes que pueden favorecer la contaminación del aire: Monóxido de nitrógeno (NO<sub>2</sub>), dióxido de azufre (SO<sub>2</sub>), dióxido de carbono (CO<sub>2</sub>), ozono (O<sub>3</sub>), particulas mayores de 2,5 micrometros (PM2.5) y/o particulas mayores de 10 micrometros (PM10).<br/><br/>
			
			<img src="{% static 'app/img/pollution.jpg' %}" alt="">
		</div>
	</div>
	<div class="foot">
  		<p>Thank you for visit our website.</p>
  		<br>
  	</div>
</body>
</html>
