{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Management of sensors</title>
	<link rel="stylesheet" href="{% static 'app/css/add-removeSensor.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'app/css/legendMap.css' %}" type="text/css">
	<script src="{% static 'jquery/js/jquery-latest.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/sensor/management-sensors-changes.js' %}" type="text/javascript"></script>
</head>
<body>	
	<div class="containerModify">
		<h1>Modify sensors</h1>
		<hr />
		<form class="form" method="POST" enctype="multipart/form-data">
			<div class="formModifyOld">
				{% csrf_token %}
				<label for="selectSensor">Sensors:</label>
				<select name="selectSensor" id="selectSensor" required>
	 				 <option value="">---Please select---</option>
	 				 {% for sens in sensors %}
	 				 	<option value="{{ sens.id_s }}"> {{ sens.name }} (Sensor {{ sens.id_s }})</option>
	 				 {% endfor %}
	 			</select><br/>
	 			<label for="id">ID:</label><br/>
				<input class="inputs" type="number" value="" name="id" id="id" readonly></input><br/>
	 			<label for="type">Type:</label><br/>
				<input class="inputs" type="text" value="" name="type" id="type" readonly></input><br/>
				<label for="name">Name:</label><br/>
				<input class="inputs" type="text" name="name" id="name" readonly></input><br/>
				<label for="alert">Alert value:</label><br/>
				<input class="inputs" type="number" name="alert" id="alert" readonly></input><br/>
				<label for="lat">Latitude:</label><br/>
				<input class="inputs" type="number" name="lat" id="lat" readonly></input><br/>
				<label for="lon">Longitude:</label><br/>
				<input class="inputs" type="number" name="lon" id="lon" readonly></input><br/>
				<label for="desc">Description:</label><br/>
				<textarea type="text" name="desc" id="desc" rows="5" cols="32" readonly></textarea><br/>
				
			</div>
			<div class="formModifyNew">
				{% csrf_token %}
				<label for="newtype">New type:</label><br/>
				<input class="inputs" type="number" name="newtype" id="newtype" min="0" required="" disabled></input>
				<input type="checkbox" name="newtypecheck" value="0" class="check" id="newtypecheck"> Enable</input><br/>
				<label for="newname">New name:</label><br/>
				<input class="inputs" type="text" name="newname" id="newname" required="" disabled></input>
				<input type="checkbox" name="newnamecheck" value="0" class="check" id="newnamecheck"> Enable</input><br/>
				<label for="newalert">Alert value:</label><br/>
				<input class="inputs" type="number" name="newalert" id="newalert" required="" disabled></input>
				<input type="checkbox" name="newalertcheck" value="0" class="check" id="newalertcheck"> Enable</input><br/>
				<label for="newlat">New latitude:</label><br/>
				<input class="inputs" type="number" step="any" name="newlat" id="newlat" min="-90" max="90" required="" disabled></input>
				<input type="checkbox" name="newlatcheck" value="0" class="check" id="newlatcheck"> Enable</input><br/>
				<label for="newlon">New longitude:</label><br/>
				<input class="inputs" type="number" step="any" name="newlon" id="newlon" min="-90" max="90" required="" disabled></input>
				<input type="checkbox" name="newloncheck" value="0" class="check" id="newloncheck"> Enable</input><br/>
				<label for="newdesc">New description:</label><br/>
				<textarea type="text" name="newdesc" id="newdesc" rows="5" cols="32" required="" disabled></textarea>
				<input type="checkbox" name="newloncheck" value="0" class="check" id="newdesccheck"> Enable</input><br/><br/><br/>

				<input id="buttonModify" type="button" value="Modify"></input>
			</div>		
		</form>
		<div id="msg"></div>
		<div id="mapsensors"></div>
		<div id="legendMap" class="legendMap"></div>
	</div>
	{% if state%}
		<script>
			msg("Sensor has been successfully modified!");
			create_mapsensors_modify();
		</script>
	{% endif %}

</body>
</html>