.map:-moz-full-screen {
  height: 100%;
}
.map:-webkit-full-screen {
  height: 100%;
}
.map:fullscreen {
  height: 100%;
}
/* position the rotate control lower than usual */
.ol-rotate {
  top: 3em;
}