.ol-viewport {
	min-height: 330px;
}

#sensors_container {
	padding: 20px;
	margin-bottom: 50px;
	/*background-color: white;*/
}

.selectSensor {

	padding: 20px;
}

.sensorData {
	display: none;
}

#map {
	height: 410px;
	padding: 20px;
}

.graph {
	text-align: center;
	margin-bottom: 40px;
}