.ol-popup {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis {
  font-size: 8px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
